@* alarmPie Template File *@
@(param: Any)
<div class="col-lg-4">
	<div class="ibox">
    <div class="ibox-content">
    	<div id="alarmPieChart"></div>
    </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#alarmPieChart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            },
    		height:250
        },
        legend: {
			enabled : false
		},
		navigation:{
	    	buttonOptions: {
	        	enabled: false
	    	}
	    },
	    credits :{
	    	text: "昱山環境技術服務",
			enabled : true,
			href : 'http://www.wecc.com.tw/'
		},
        title: {
            text: '監測警告 (示意圖)'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '警報比例',
            data: [
                ['台塑六輕工業園區',   45.0],
                {
                    name: '林園工業區',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['台南科學園區',    8.5],
                ['臨海工業區',     6.2]
            ]
        }]
    });
});
</script>