@* dailyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(monitor:Monitor.Value, reportDate:DateTime, mTypes:List[MonitorType.Value], mtTimeMap: Map[MonitorType.Value, Map[DateTime, Record]], statMap: Map[MonitorType.Value, Map[DateTime, Stat]])
<h3>@(Monitor.map(monitor).indParkName + Monitor.map(monitor).dp_no)監測日報表</h3>
<h4>日期:@reportDate.toString("yyyy年MM月dd日")</h4>
@recordLegend()
<table id="reportTable" class="table table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>小時</th>
			@for(mt<-mTypes){
			<th>@MonitorType.map(mt).desp</th>
			}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>平均</th>
			@for(mt<-mTypes){
				<th>@MonitorType.format(mt, statMap(mt)(reportDate).avg)</th>
			}
		</tr>
		<tr>
			<th>最大</th>
			@for(mt<-mTypes){
				<th>@MonitorType.format(mt, statMap(mt)(reportDate).max)</th>
			}
		</tr>
		<tr>
			<th>最小</th>
			@for(mt<-mTypes){
				<th>@MonitorType.format(mt, statMap(mt)(reportDate).min)</th>
			}
		</tr>
		<tr>
			<th>有效率(%)</th>
			@for(mt<-mTypes){
				<th>@MonitorType.format(mt, statMap(mt)(reportDate).effectPercent)</th>
			}
		</tr>
	</tfoot>
	<tbody>
		@for(i<-0 to 23){
			<tr>
			<th>@("%02d:00".format(i))</th>
			@for(mt<-mTypes){
				<td class="@MonitorType.getCssClassStr(mt, mtTimeMap(mt).get(reportDate + i.hour))"
				>@Html(MonitorType.formatRecord(mt, mtTimeMap(mt).get(reportDate + i.hour)))</td>
			}
			</tr>
		}
	</tbody>
</table>
<script>
$(document).ready(function(){
	var l10n_url = "/assets/localization/zh_tw.json";
	
	$('#reportTable').dataTable( {
		language: {
			url: l10n_url,							
		},
		"paging":   false,
		"searching": false
	} );
});		
</script>