@* dashboard Template File *@
@(param:Any)
<div class="row">
	@recordLegend(false)
</div>
<div class="row">
<div class="col-lg-9">
	<div class="row">
		<div class="col-lg-12">
			@mtRealtimeChart("mtChart1")
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox" ng-controller="mtRealtimeChartCtrl2">
    			<div class="ibox-content">
    				<div id="mtRealtimeChart2"></div>
    			</div>
			</div>
		</div>		
	</div>
</div>
<div class="col-lg-3">
	@miniMonitorTypeList()
</div>
</div>