@* historyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import models.InstrumentStatus._
@(id:String, start:DateTime, end:DateTime, reportArray:List[(DateTime, Map[String, Double])], keyList:List[String], nameMap:Map[String, String])

<H3>儀器狀態 @id</H3>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>

<table id="instrumentStatusReport" class="table">
<thead>
	<tr>		
		<th>時間</th>
		@for(key<-keyList){
			<th>@nameMap(key)</th>
		}
	</tr>
</thead>
<tbody>
	@for(report <- reportArray){
		<tr>
			<th>@report._1.toString("MM/dd HH:mm")</th>
			@for(key <- keyList){
				@if(report._2.contains(key)){
					<td>@formatValue(report._2(key))</td>
				}else{
					<td>-</td>
				}
								
			}
		</tr>
	}
</tbody>
</table>
<script>
	var localized_url = "/assets/localization/zh_tw.json";
</script>
<script>
$( document ).ready(function() {
	$('#alarmReport').dataTable( {
		responsive: true,
		language: {
			url: localized_url,							
		},
		searching: true,
		paging: false
	} );
});
</script>