@* monthlyHourReport Template File *@
@import controllers.Report._
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(monitor:Monitor.Value, mt:MonitorType.Value, reportDate:DateTime, timeMap: Map[DateTime, Record], hourStatMap: Map[Int, Stat], dayStatMap: Map[DateTime, Stat], overallStat:Stat)

<h3>@(Monitor.map(monitor).indParkName + Monitor.map(monitor).dp_no)@(MonitorType.map(mt).desp)監測月分時報表 </h3>
<h4>日期:@reportDate.toString("yyyy年MM月")</h4>
@recordLegend()
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>日\時</th>
			@for(t<- 0 to 23){
				<td>@t</td>
			}
			<td>平均</td>
			<td>最大</td>
			<td>最小</td>
			<td>有效筆數</td>
			<td>應測筆數</td>
			<td>有效率(%)</td>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>平均</td>
			@for(h<-0 to 23){
				<td>@MonitorType.format(mt, hourStatMap(h).avg)</td>
			}
			<td>@MonitorType.format(mt, overallStat.avg)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>最大</td>
			@for(h<-0 to 23){
				<td>@MonitorType.format(mt, hourStatMap(h).max)</td>
			}
			<td></td>
			<td>@MonitorType.format(mt, overallStat.max)</td>			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>最小</td>
			@for(h<-0 to 23){
				<td>@MonitorType.format(mt, hourStatMap(h).min)</td>
			}
			<td></td>
			<td></td>			
			<td>@MonitorType.format(mt, overallStat.min)</td>
			<td></td>
			<td></td>
			<td></td>			
		</tr>
	</tfoot>
	<tbody>
		@for(day<-Query.getPeriods(reportDate, reportDate+1.month, 1.day)){
			<tr>
				<th>@day.toString("dd")</th>
				@for(h<-0 to 23){
					<td class="@MonitorType.getCssClassStr(mt, timeMap.get(day + h.hour))">
					@Html(MonitorType.formatRecord(mt, timeMap.get(day + h.hour)))</td>
				}
				<td>@MonitorType.format(mt, dayStatMap(day).avg)</td>
				<td>@MonitorType.format(mt, dayStatMap(day).max)</td>
				<td>@MonitorType.format(mt, dayStatMap(day).min)</td>
				<td>@dayStatMap(day).count</td>
				<td>@dayStatMap(day).total</td>
				<td>@MonitorType.format(mt, dayStatMap(day).effectPercent)</td>
			</tr>
		}
	</tbody>
</table>            		
 

