@* realtimeStatus Template File *@
@(recordMap: Map[Monitor.Value, Map[MonitorType.Value, Record]])
<div class="row">
<div class="ibox">
    <div class="ibox-content">
    	<div class="table-responsive">
        	<table id="recordTable" class="table table-striped">
        		<thead>
					<tr>
						<th>工業區</th>
						<th>測站</th>
						@for(mt <- MonitorType.mtvList){
							<th>@MonitorType.map(mt).desp</th>
						}
					</tr>
				</thead>
				<tbody>
					@for(m<-Monitor.mvList){
						<tr>
							<th>@Monitor.map(m).indParkName</th>
							<th>@Monitor.map(m).dp_no</th>
							@for(mt <- MonitorType.mtvList){								
								<td class="@MonitorType.getCssClassStr(mt, recordMap.getOrElse(m, Map.empty[MonitorType.Value, Record]).get(mt))">
									@Html(MonitorType.formatRecord(mt, recordMap.getOrElse(m, Map.empty[MonitorType.Value, Record]).get(mt)))</td>
							}
						</tr>
					}
				</tbody>
            </table>
        </div>
    </div>
   </div>
</div>
<script>
$( document ).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
	
	$('#recordTable').dataTable( {
		responsive: true,
		paging:   false,
		searching: false,
		info: false
	    } );	
});

</script>
