@* windWidget Template File *@
@(param: Any)
<div class="ibox">
    <div class="ibox-content">
    	<div id="windWidget"></div>
    </div>
</div>
<script>
$(function () {

    $('#windWidget').highcharts({

        chart: {
            polar: true,
            height: 310
        },
        credits :{
	    	text: "昱山環境技術服務",
			enabled : true,
			href : 'http://www.wecc.com.tw/'
		},
		 exporting: {
	            enabled: false
	        },
        title: {
            text: '風向風速圖'
        },

        pane: {
            startAngle: 0,
            endAngle: 360
        },

        xAxis: {
            tickInterval: 45,
            min: 0,
            max: 360,
            labels: {
                formatter: function () {
                    return this.value + '°';
                }
            }
        },

        yAxis: {
            min: 0
        },

        plotOptions: {
            series: {
                pointStart: 0,
                pointInterval: 45
            },
            column: {
                pointPadding: 0,
                groupPadding: 0
            }
        },

        series: [{
            type: 'column',
            name: '1小時',
            data: [8, 7, 6, 5, 4, 3, 2, 1],
            pointPlacement: 'between'
        }, {
            type: 'line',
            name: '8小時',
            data: [1, 2, 3, 4, 5, 6, 7, 8]
        }, {
            type: 'area',
            name: '24小時',
            data: [1, 8, 2, 7, 3, 6, 4, 5]
        }]
    });
});
</script>